.formCreateContainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formTitle,
  .addInputButtons,
  .inputGrid,
  .saveForm {
    margin-bottom: 20px;
  }
  
  .addInputButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .inputRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    margin-bottom: 10px;
  }
  .inputColumn {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  
  
  .button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .openButton {
    padding: 8px 12px;
    background-color: #0bbe74;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .openButton:hover {
    background-color: #118a40;
  }
  .closeButton {
    padding: 8px 12px;
    color: black;
    border: solid 1px #007bff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .closeButton:hover {
    border: solid 1px #0056b3;
    border-radius: 4px;
  }
  .error {
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  